<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>isolate-controller</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="lib/angular/1.4/js/angular.js" type="text/javascript"></script>
        <script src="05_isolate_controller.js" type="text/javascript"></script>
    </head>
    <body>
        <div isolate-controller="FacturaController">
            <h3>Dentro del controlador Factura</h3>
            Empresa:{{factura.empresa}}<br>
            <div isolate-controller="LineaFacturaController" [factura]="factura"  (button)="pulsadoBoton(message,tiposIVA.general)" >
                <h3>Dentro del controlador LineaFactura</h3>
                Empresa:<input ng-model="factura.empresa"> <br>    
                Concepto:<input ng-model="lineaFactura.concepto"> <br>
                <button ng-click="button({message:lineaFactura.concepto})">Pulsar</button>
            </div>
            
            <div isolate-controller="LineaFacturaController" [(empresa)]="factura.empresa"  (button)="pulsadoBoton(message,tiposIVA.general)" >
                <h3>Dentro del controlador LineaFactura</h3>
                Empresa:<input ng-model="empresa"> <br>    
                Concepto:<input ng-model="lineaFactura.concepto"> <br>
                <button ng-click="button({message:lineaFactura.concepto})">Pulsar</button>
            </div>            
            
        </div>
    </body>
</html>