<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>isolate-controller</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../lib/angular/1.4/js/angular.js" type="text/javascript"></script>
        <script src="index.js" type="text/javascript"></script>
        <script src="generic-component.js" type="text/javascript"></script>
    </head>
    <body>
        <generic-component controller-name="FacturaController">
            <h3>Dentro del controlador Factura</h3>
            Empresa:<input ng-model="factura.empresa"><br>
            <generic-component controller-name="LineaFacturaController" [factura]="factura"  (on-button)="avisar(mensaje)" >
                <h3>Dentro del controlador LineaFactura</h3>
                Empresa:<input ng-model="factura.empresa"> <br>    
                Concepto:<input ng-model="lineaFactura.concepto"> <br>
                <button ng-click="onButton({mensaje:lineaFactura.concepto})">Avisar</button>
            </generic-component>
        </generic-component>
    </body>
</html>