        <generic-component controller-name="{{controllerName}}">
            <h3>Dentro del controlador Factura</h3>
            Empresa:<input ng-model="factura.empresa"><br>
            <generic-component controller-name="LineaFacturaController" [factura]="factura"  (on-button)="avisar(mensaje)" >
                <h3>Dentro del controlador LineaFactura</h3>
                Empresa:<input ng-model="factura.empresa"> <br>    
                Concepto:<input ng-model="lineaFactura.concepto"> <br>
                <button ng-click="onButton({mensaje:lineaFactura.concepto})">Avisar</button>
            </generic-component>
        </generic-component>